In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('differentialCorrectedASDPositionsM55_G94.csv')

In [4]:
df

,Unnamed: 0,times,lat,longt,elev,quality,files
0,0,2021/11/14 23:58:32.000,-28.079540,146.049575,207.8228,1,site2_211115_10000000000.asd.txt
1,1,2021/11/14 23:58:35.000,-28.079540,146.049574,207.8223,1,site2_211115_10000000001.asd.txt
2,2,2021/11/14 23:58:37.000,-28.079540,146.049574,207.8273,1,site2_211115_10000000002.asd.txt
3,3,2021/11/14 23:58:40.000,-28.079540,146.049575,207.8220,1,site2_211115_10000000003.asd.txt
4,4,2021/11/14 23:58:42.000,-28.079540,146.049575,207.8198,1,site2_211115_10000000004.asd.txt
...,...,...,...,...,...,...,...
355,355,2021/11/15 00:20:17.000,-28.079888,146.050498,208.3841,1,site2_211115_10000000355.asd.txt
356,356,2021/11/15 00:20:19.000,-28.079871,146.050506,208.3795,1,site2_211115_10000000356.asd.txt
357,357,2021/11/15 00:20:22.000,-28.079845,146.050515,208.3831,1,site2_211115_10000000357.asd.txt
358,358,2021/11/15 00:20:24.000,-28.079828,146.050522,208.3836,1,site2_211115_10000000358.asd.txt
359,359,2021/11/15 00:20:27.000,-28.079803,146.050532,208.4126,1,site2_211115_10000000359.asd.txt

In [5]:
df.lat.min()

-28.080735154

In [8]:
(df.lat.max()-df.lat.min())*111000

132.6999449997217